body {
  /* background: url(background-brick.jpg) no-repeat center center fixed; */
  background: url(https://i.pinimg.com/564x/1b/77/f6/1b77f60a51fd62ee04bcdee26c5c4c5d.jpg)
    no-repeat center center fixed;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
